@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About";
}

<header class="intro-header green-cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1 class="font-light">About Me</h1>
                    <hr class="small">
                    <span class="subheading font-light">This is what I do</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p>
                    I've been learning and working in the software industry for around 4 years. I used to be known for a software developer,
                    a computer science graduate, a Microsoft Certified Professional (MCP) and a potential speaker. Now following along with Application LifeCycle Management (ALM) and DevOps in Microsoft Stack having primarily focused on
                    building Microservice architecture applications, DevOps, containers technology, .NET Core and Open-Source at Microsoft Stack.
                </p>
                <p>
                    I built this site to share my experience through out my software industry journey. Primary focus of this site is (but not limited to)
                    writing about Containers Technology with Docker and Microsoft Azure. Stay up to date via my YouTube channel
                    and Twitter handle. <i class="fa fa-smile-o" aria-hidden="true"></i>
                </p>
                <blockquote>
                    <h3>Disclaimer!</h3>
                    The posts I write here are not copied from any source. You may see some UI changes in the future as the website is in preview.
                </blockquote>
            </div>
        </div>
    </div>
</article>

