@{
    ViewBag.Title = "Administrator";
}

<header class="intro-header red-cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1 class="font-light">Administrator</h1>
                    <hr class="small">
                    <span class="subheading">You are now logged in as Administrator</span>
                </div>
            </div>
        </div>
    </div>
</header>