@model int

@{
    ViewBag.Title = "Page Not Found";
}

<header class="intro-header" style="background-image:url('/images/error.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1 class="font-light" style="color: black">Error @Model - <i class="fa fa-frown-o" aria-hidden="true"></i></h1>
                    <br class="hidden-sm hidden-md hidden-lg" />
                </div>
            </div>
        </div>
    </div>
</header>